*{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-height: fit-content;
}
header {
    padding: 1.7rem 1rem;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
}

.logo h1 {
    color: #333;
    text-decoration: none;
}

nav a {
    color: #244D61;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    padding: 0.4rem 1rem;
}

nav a.active,
nav a:hover {
    background-color: #244D61;
    color: #fff;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu {
    display: none;
}
@media only screen and (max-width:480px) {
    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    header {
        padding: 0.7rem 1rem;
        align-items: center;
        max-width: 100%;
    }

    nav {
        position: absolute;
        display: grid;
        top: 50px;
        width: 100%;
        text-align: center;
        background-color: beige;
        left: -100%;
    }

    #click:checked~nav {
        left: 0%;
        transition: all 0.3s ease;
    }

    section {
        margin: 1rem 1rem;
    }

}
.content{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn-pg {
    margin: 10px auto; /* Center horizontally using margin auto */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* Use flexbox to center vertically */
    justify-content: center;
    align-items: center;
}

#btn-pg:hover {
    background-color: #45a049;
}

#btn-pg:active {
    background-color: #3e8e41;
}
  
  @media screen and (max-width: 480px) {
    #btn-pg {
      font-size: 14px;
    }
  }